/* Lato-Thin */

@font-face {
    font-family: Lato-Light;
    src: url(../../fonts/Lato-Light.ttf);
}

/* ConcertOne-Regular */

@font-face {
    font-family: ConcertOne-Regular;
    src: url(../../fonts/ConcertOne-Regular.ttf);
}
