.add-note-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.616);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    letter-spacing: 0.0142857143em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.note-input-wrapper {
    /* position: relative; */
    width: 100%;
    display: flex;
    align-items: center;
}

.note-input-collapsed {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.add-note-btns {
    display: flex;
    gap: 8px;
}

.add-note-btns .material-icons-outlined {
    cursor: pointer;
    padding: 8px;
    color: #5f6368;
}

.add-note-btns .material-icons-outlined:hover {
    color: #202124;
}

.note-title-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-bottom: 8px;
    border-radius: 8px;
}

.note-text-input,
.note-img-url-input,
.note-video-url-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
}

.todo-list li {
    margin-bottom: 10px;
    display: flex;
    padding-left: 10px;
    font-size: 16px;
}

.todo-list li input {
    width: 100%;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
}

.todo-list-btn {
    border: none;
    background-color: transparent;
    color: #5f6368;
    font-size: 16px;
    cursor: pointer;
}

.todo-list-btn:hover {
    color: #202124;
}

.close-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-new-note-btn {
    background-color: inherit;
    border: none;
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.close-new-note-btn:hover {
    background-color: #f5f4f4;
    color: #202124;
}
