.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    text-align: left;
    position: relative;
}

.modal-content input,
.modal-content textarea {
    font-family: Roboto, Arial, sans-serif;

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
    color: #9e9e9e;
}

.modal-content .close-edit-modal {
    background-color: inherit;
    border: none;
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.modal-content .close-edit-modal:hover {
    background-color: #f5f4f4;
    color: #202124;
}
