/* note preview */

.note-preview {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 250px;
    transition: box-shadow 0.3s ease;
}

.note-preview:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.note-preview img {
    max-width: 100%;
    border-radius: 8px;
}

.note-preview p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.note-preview .action-btns {
    opacity: 0;
    border: none;
    background-color: inherit;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.material-symbols-outlined.pin-note-btn {
    font-variation-settings: 'FILL' 1;
}

.note-preview:hover .action-btns {
    opacity: 1;
}

.bgn-color-note-btn {
    cursor: pointer;
}

.fillColor {
    position: absolute;
    bottom: 0;
    right: 0;
}

.note-preview .todo-note ul {
    padding-left: 0px;
}

.note-preview .todo-note li {
    margin-left: 5px;
}

@media (max-width: 550px) {
    .note-preview {
        width: calc(100% - 40px);
        margin: 10px auto;
        max-width: none;
    }
}
