.note-preview {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: box-shadow 0.3s ease;
    width: 240px;
    position: relative;
}

.note-preview:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.note-preview h3,
.canvas-note h3 {
    margin: 0;
    margin-bottom: 7px;
    max-width: 205px;
}

.note-preview img {
    max-width: 100%;
    border-radius: 8px;
}

.note-preview p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.note-preview .action-btns {
    opacity: 0;
    border: none;
    background-color: inherit;
    width: 32px;
    height: 32px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: auto;
}

.note-preview .pin-note-btn {
    display: block;
    opacity: 0;
    font-size: 32px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-size: 24px 24px;
    height: 32px;
    width: 32px;
}

.material-symbols-outlined.pin-note-btn.pinned {
    font-variation-settings: 'FILL' 1;
}

.note-preview:hover .action-btns,
.note-preview:hover .pin-note-btn {
    color: #202124;
    opacity: 0.71;
}

.bgn-color-note-btn {
    cursor: pointer;
}

.fillColor {
    position: absolute;
    bottom: 0;
    right: 0;
}

.note-preview .todo-note ul {
    padding-left: 0px;
}

.note-preview .todo-note li {
    width: calc(100% - 20px);
    margin-left: 5px;
}

.note-preview video {
    width: 100%;
    height: auto;
}

.canvas-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.canvas-container {
    width: 200px;
    height: 200px;
    border: 2px dashed #000;
    background-color: #f9f9f9;
}

.canvas-note {
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-btns {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.canvas-btns span {
    background-color: inherit;
    border: none;
    color: black;
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.canvas-btns span:hover {
    background-color: #f5f4f4;
    color: #202124;
}

@media (max-width: 590px) {
    .note-preview {
        width: calc(100% - 40px);
        margin: 10px auto;
    }
}
