* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lato-Light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-layout {
    display: grid;
    grid-template-columns: 1.6rem 1fr 1.6rem;
    margin: 0 auto;
}

.main-layout > * {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}